body {
    font-family: "Open Sans", sans-serif;
    background-image: url("img/faded-office.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    max-width: 350px;
    margin: 60px auto auto 30px;
}

h1 {
    font-size: 52px;
    font-weight: 800;
    line-height: 1.0;
    color: #020202;
}

p {
    font-size: 24px;
    color: #020202;
    /* max-width: 350px; */
}

button {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #0ea5e9;
    border: none;
    padding: 15px 30px;
}

#underline {
    border-bottom: 5px solid #0ea5e9;
}